

  <section id="container" drips-admin-directive>

      <section id="main-content">
          <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Discover Our Panels </h3>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a ng-click="getWhat('all/drip/user')" value="drip/user">Users</a></li>
                  <li><a ng-click="getWhat('all/drip/admin')" value="all/drip/admin">Admin</a></li>
                  <li><a ng-click="getWhat('top')" value="top">Top</a></li>
                  <li><a ng-click="getWhat('/drips/anon')" value="/drips/anon">Anon</a></li>
                </ul>
              </div>
            <div class="row mt">
              
              <div class="col-lg-12" >
              
                <! -- PROFILE 01 PANEL -->
                  <div class="col-lg-4 col-md-4 col-sm-4 mb" ng-repeat="drips in dripsArray">
                    <div class="content-panel pn">
                      <div id="profile-01" load-image-first>
                        <a ng-click="loadFrame( $index , drips.link)"><img width="100%" height="315" class="ratio drip-ratio" ng-src="{{thumbUrl(drips.link)}}"/ ng-if="!IFrame[$index]"></a>
                        <iframe width="100%" height="315" ng-src="{{ videoUrl( drips.link ) }}" frameborder="0" allowfullscreen ng-if="IFrame[$index]"></iframe>
                      </div>
                      <div class="profile-01 centered" ng-click="addToTop(drips)" ng-if="!drips.top">
                        <p>ADD TO TOP DRIPS</p>
                      </div>
                      <div class="profile-01 centered" ng-click="dropFromTop(drips)" ng-if="drips.top">
                        <p>DROP FROM TOP DRIPS</p>
                      </div>
                      <div class="profile-01 centered">
                        <h6><i class="fa fa-envelope"></i><br/>See Details</h6>
                      </div>
                    </div><! --/content-panel -->
                  </div><! --/col-md-4 -->

                
                  
              </div>
            </div>
      
    </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

  </section>

 