      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page" login-directive>
	  	<div class="container">

	  			<form class="form-login">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap">
		            <input type="text" class="form-control" placeholder="User ID" autofocus ng-model="login.username">
		            <br>
		            <input type="password" class="form-control" placeholder="Password" ng-model="login.password">
		            <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href=""> Forgot Password?</a><!-- login.html#myModal -->
		
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" ng-click="loginBlast()"><i class="fa fa-lock"></i> SIGN IN</button>
		            <hr>
		            
		
		        </div>  	
	  			</form>
	  	</div>
	  </div>

    <script>
        $.backstretch("/images/login-bg.jpg", {speed: 500});
    </script>
