

  <section id="container" privilege-directive>

      <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">{{ modalTitle }}</h4>
            </div>
            <div class="modal-body">
              {{ modalMessage }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>  
      <section id="main-content">
          <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Quote Form</h3>
            
            <!-- INPUT MESSAGES -->
            <div class="row mt">
              <div class="col-lg-12">
                <div class="form-panel">
                      
                          <form class="form-horizontal  tasi-form" method="get" name="dripDetail" novalidate>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Quote</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" ng-model="quoteForm.quote" placeholder="quote" id="inputSuccess" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Author</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" ng-model="quoteForm.author" placeholder="author" id="inputWarning" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputError">Link</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" ng-model="quoteForm.link" ng-pattern="/^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/" placeholder="Youtube link" id="inputError" required>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-primary" ng-click="addQuote()" ng-disabled="dripDetail.$invalid">Save</button>
                          </form>
                </div><!-- /form-panel -->
              </div><!-- /col-lg-12 -->
            </div><!-- /row -->
          </section><! --/wrapper -->

          <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Bucket Form</h3>
            
            <!-- INPUT MESSAGES -->
            <div class="row mt">
              <div class="col-lg-12">
                <div class="form-panel">
                      <h4 class="mb"><i class="fa fa-angle-right"></i> Add Bucket</h4>
                      <form class="form-inline" role="form" name="bucketFormAdmin" novalidate>
                          <div class="form-group">
                              <input type="text" class="form-control" ng-model="bucketForm.bucketName" id="exampleInputEmail2" placeholder="Bucket name" required>
                          </div>
                          <button type="submit" ng-click="addBucket()" class="btn btn-theme" ng-disabled="bucketFormAdmin.$invalid">add</button>
                      </form>
                </div><!-- /form-panel -->
              </div><!-- /col-lg-12 -->
            </div><!-- /row -->       
          </section><! --/wrapper -->


          <section class="wrapper" buckets-admin>
            <h3><i class="fa fa-angle-right"></i> List of buckets</h3>
            <div class="col-md-2 col-sm-2 box0" ng-repeat="bucket in dataBuckets">
              <div class="box1">
                <span class="li_cloud"></span>
                <h3>{{bucket.name | limitTo:'20'}}</h3>
              </div>
              <p>{{bucket.name}}</p>
            </div>
          </section><! --/wrapper -->


          <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Drip Form</h3>
            
            <!-- INPUT MESSAGES -->
            <div class="row mt">
              <div class="col-lg-12">
                <div class="form-panel">
                      
                          <form class="form-horizontal tasi-form" method="get" name="dripFormAdmin" novalidate>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Title</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" placeholder="Title" ng-model="dripForm.title" id="inputSuccess" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Link</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" placeholder="Youtube Link" ng-model="dripForm.link" ng-pattern="/^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/" id="inputWarning" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputError">Post</label>
                                  <div class="col-lg-10">
                                      <textarea style="min-width: 100%; max-width: 100%; height: 100px;" placeholder="Write something" name="example" ng-model="dripForm.post"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputError">Youtube Channel</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" placeholder="Youtube channel" name="example" ng-model="dripForm.channel">
                                  </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-2 control-label col-lg-2" for="inputError">Bucket</label>
                                <select id="s1" class="col-lg-4" ng-model="dripForm.bucket" ng-options="item as item.name for item in dataBuckets"></select>
                                
                              </div>
                              <div>
                                <button type="button" ng-click="addDripAdmin()" class="btn btn-primary" ng-disabled="dripFormAdmin.$invalid">Save</button>
                              </div>
                              
                          </form>
                </div><!-- /form-panel -->
              </div><!-- /col-lg-12 -->
            </div><!-- /row -->
            
      </section><! --/wrapper -->

    </section><!-- /MAIN CONTENT -->
  </section>

    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

 