


  <section id="container" quote-directive>
 
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Edit Quote</h4>
            </div>
            <div class="row mt">
              <div class="col-lg-12">
                <div class="form-panel">
                      
                          <form class="form-horizontal tasi-form" method="get">
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Quote</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" ng-model="chosenToEdit.quote" placeholder="quote" id="inputSuccess">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Author</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" ng-model="chosenToEdit.author" placeholder="author" id="inputWarning">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label col-lg-2" for="inputError">Link</label>
                                  <div class="col-lg-10">
                                      <input type="text" class="form-control" ng-model="chosenToEdit.link" placeholder="Youtube link" id="inputError">
                                  </div>
                              </div>
                          </form>
                </div><!-- /form-panel -->
              </div><!-- /col-lg-12 -->
            </div><!-- /row -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="submitEditQuote()">Save changes</button>
            </div>
          </div>
        </div>
      </div> 
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Quotes List</h3>
		  	
		  	<div class="row mt">
              <div class="col-lg-12">
                      <div class="content-panel">
						 
                          <section id="no-more-tables">
                              <table class="table table-bordered table-striped table-condensed cf">
                                  <thead class="cf">
                                  <tr>
                                      <th>Quote</th>
                                      <th>Author</th>
                                      <th>Link</th>
                                      
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr ng-repeat="quotes in quotesArray">
                                      <td data-title="Quote">{{quotes.quote}}</td>
                                      <td data-title="Author">{{quotes.author}}</td>
                                      <td data-title="link">{{quotes.link}}</td>
                                      <td>
                                          <div class="btn-group">
                                            <button type="button" class="btn btn-theme03">Action</button>
                                            <button type="button" class="btn btn-theme03 dropdown-toggle" data-toggle="dropdown">
                                              <span class="caret"></span>
                                              <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                              <li><a data-toggle="modal" data-target="#editModal" ng-click="editQuote(quotes)">Edit</a></li>
                                              <li class="divider"></li>
                                              <li><a href="#">Delete</a></li>
                                            </ul>
                                          </div>     
                                      </td>
                                  </tr>
                                  
                                  </tbody>
                              </table>
                          </section>
                      </div><!-- /content-panel -->
                  </div><!-- /col-lg-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      
      <!--footer end-->
  </section>



    <!--script for this page-->
    