


  <section id="container" users-directive>
 

      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Users List</h3>
		  	
		  	<div class="row mt">
              <div class="col-lg-12">
                      <div class="content-panel">
						 
                          <section id="no-more-tables">
                              <table class="table table-bordered table-striped table-condensed cf">
                                  <thead class="cf">
                                  <tr>
                                      <th>Name</th>
                                      <th>Email</th>
                                      <th>Title</th>
                                      
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr ng-repeat="user in users">
                                      <td data-title="Name">{{user.firstname}} {{user.lastname}}</td>
                                      <td data-title="Email" ng-bind="user.email">susanaleitaosousa@gmail.com.</td>
                                      <td data-title="title" ng-bind="user.usertitle">Artist, Student, Videographer</td>
                                  </tr>
                                  
                                  </tbody>
                              </table>
                          </section>
                      </div><!-- /content-panel -->
                  </div><!-- /col-lg-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      
      <!--footer end-->
  </section>



    <!--script for this page-->
    