<div class="col-md-12 modal fade" id="add-drip" tabindex="-1" role="dialog" aria-labelledby="modallogin" aria-hidden="true">
  <div class="modal-login" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <h3><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>Add drip</h3>
          <input class="addinput col-md-12" type="text" placeholder="Title" required>
          <input class="addinput col-md-12" type="text" placeholder="Link" required>
          <textarea class="addinput col-md-12" type="text" placeholder="Description" style="width: 100%; height: 50px; font-size: 14px; line-height: 18px; border: 1px solid rgb(169, 169, 169); padding: 10px;" required></textarea>
          <button type="submit" class="btn btn-default bucket right" aria-label="Left Align">
          Save 8
          </button>
        </form>
        
      </div>
    </div>
  </div>
</div>