<div class="col-md-12 modal fade" id="add-bucket" tabindex="-1" role="dialog" aria-labelledby="modallogin" aria-hidden="true">
  <div class="modal-login" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <h3><img image-asset="bucket-icon.png" ng-src="{{ src }}" class="bucketImg" alt="lorde">Add bucket</h3>
          <input class="addinput col-md-12" type="text" placeholder="Name" required>
          <button type="submit" class="btn btn-default bucket right" aria-label="Left Align">
          Add 8
          </button>
        </form>
        
      </div>
    </div>
  </div>
</div>