<div id="fb-root"></div>
<script>
  var isLoaded = false;
  window.fbAsyncInit = function() {
    
      FB.init({ 
        appId: '1490365664608851',
        status: true, 
        cookie: true, 
        xfbml: true,
        version: 'v2.4'
      });
      isLoaded = true;
  };
  function checkIfLoaded() {
    if(isLoaded){
    }
    else {}

    return false;
  }
  (function(d, s, id) {
    window.fbAsyncInit();
    checkIfLoaded();
 
 window.fbAsyncInit();
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1490365664608851";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72205618-1', 'auto');
  ga('send', 'pageview');

</script>
<nav class="navbar navbar-default navbar-fixed-top" id="custom-nav" profile>
  <div class="modified-container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li><a ng-click="sendToBucket()" style="cursor:pointer;" ng-if="profile">BUCKET</a></li>
        <!-- <li><a>EXPLORE</a></li>-->
        
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="input-lg form-control round-input-5 search-box" placeholder="Search Drip 8...">
        </div>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="active" ng-click="popup()" ng-if="profile"><a class="profile-image" style="padding-top: 15px;
        padding-bottom: 45px;">
          <img  ng-if="!profile" src="images/drip-logo-anon.jpg" width="40" height="40" class="img-circle special-img">
          <img  ng-if="profile" ng-src="{{profile.profile_picture}}" width="40" height="40" class="img-circle special-img"></a>
        </li>
      </ul>
      <div ng-include='"edit-profile.html"'></div>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="reminder label label-info" ng-show="profile.reminder" profile>
        <p style="margin: 0 0 1px;">Please edit/complete your profile. <a ng-click="popup()" style="cursor:pointer;">Click here.</a></p>
      </div>

    <div class="user-container">
      <div class="user-bg">
        <div >
          <div class="user-info">
            <div class="user-img-container">
              <!-- <a><img  src="images/me.jpeg" width="120" height="120" alt="me.jpeg" class="img-circle centered"></a> -->
            </div>
            <!-- <span class="user-name drip-profile-name"><a style="color:white;">KERSTEEN DANIEL CAGUD</a></span>
            <span class="profile-skill drip-profile-skill">DESIGNER, ACTRESS</span> -->
          </div>
        </div>
      </div>
      <div class="post" post-main-directive>
        <form name="dripDetail" novalidate>
            <input type="text" class="post-field" ng-model="mainDrip.title" placeholder="POST TITLE" required>
            <input type="text" placeholder="YOUTUBE LINK" name="link" ng-pattern="/^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/" ng-model="mainDrip.link" class="post-field yt-link" required>
            <!-- <select class="choose-bucket">
              <option value="volvo">BUCKET NAME</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select> -->
            <!-- <textarea class="comment post-field" ng-model="mainDrip.post" placeholder="WRITE A POST"></textarea> -->
            <button class="pull-right post-btn btn-default" ng-click="addDrip()" ng-disabled="dripDetail.$invalid">POST</button>
        </form>
        
      </div>
    </div>
    <div drips-main-directive>
      
    </div>
    <!-- Modal -->
    <div ng-include='"modal.html"'></div>
    <div ng-include='"ads.html"'></div>
    