<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72205618-1', 'auto');
  ga('send', 'pageview');

</script>
<nav class="navbar navbar-default navbar-fixed-top" id="custom-nav">
  <div class="modified-container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-brand">
        <p>Drip8</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
      </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container landing-page" index-main-directive>
      <div class="quote">
        <p>"{{quoteActive}}"</p>
        <small class="author" ng-bind="authorActive"></small>
      </div>
      <div class="col-lg-12">
        <div class="featured-vid-container col-lg-6">
          <div class="h_iframe">
            <!-- a transparent image is preferable -->
            <img class="ratio lp-ratio" src="images/me2.png"/>
            <iframe ng-src="{{ videoUrl( videoPlay ) }}" frameborder="0" allowfullscreen></iframe>
          </div>
          <div id="demo" carousel-directive>
            <div class="container" style="width:100%; margin-top:3px;">
              <div class="row">
                <div id="owl-demo" class="owl-carousel">
                  <div class="item" ng-repeat="quote in quotes | orderBy:'-'">
                    <div class="h_iframe">
                      <!-- a transparent image is preferable -->
                      <img class="ratio lp-ratio" style="cursor: pointer;" ng-click="changeVideo( quote.link, quote.quote , quote.author )" ng-src="{{thumbUrl(quote.link)}}"/>
                    </div>
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="drip-intro col-lg-6">
          <h1>Be your best self.<br> Inspire others to do the same</h1>
          <p class="intro-desc">
            Drip8 is a video sharing website through the use of the publicly available videos on youtube; it features works of art and videos that inspire people in different areas of talents and skills. It shares social media accounts of content creators meant to inspire others to do the same for the purpose of STARTING A NEW ERA in social media to focus on creating future great people. It exists on one purpose alone, to INSPIRE a LIFE of PASSION away from the default 9-5 jobs and into something they love to do.
          </p>
          <p class="intro-desc">The mission is unattainable by us alone, and so we are inviting you to share your passions in life and as this grows we are hoping to have a future for drip8 wherein you can monetize directly in it.</p>
          <p class="intro-desc">To everyone, Please enjoy drip8.</p>
          <p class="ph413">
            P4:13
          </p>
          <button class="signup-btn post-btn" ng-click="login()">Facebook Login</button>
          <button class="signup-btn post-btn" ng-click="see()">See what's Inside</button>
        </div>
      </div>
    </div>
    
    <style>
    #owl-demo .item{
    margin: 3px;
    }
    #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    }
    </style>