<div id="fb-root"></div>
<script>
  var isLoaded = false;
  window.fbAsyncInit = function() {
    
      FB.init({ 
        appId: '1490365664608851',
        status: true, 
        cookie: true, 
        xfbml: true,
        version: 'v2.4'
      });
      isLoaded = true;
  };
  function checkIfLoaded() {
    if(isLoaded){
      
    } 
    else {}

    return false;
  }
  (function(d, s, id) {
    window.fbAsyncInit();
    checkIfLoaded();
 window.fbAsyncInit();
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1490365664608851";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72205618-1', 'auto');
  ga('send', 'pageview');

</script>


    <nav class="navbar navbar-default navbar-fixed-top" id="custom-nav" profile>
      <div class="modified-container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/drips">DRIPS</a></li>
          </ul>
          <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="input-lg form-control round-input-5 search-box" placeholder="Search Drip 8...">
            </div>
          </form> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="active" ng-click="popup()">
            <a class="profile-image" style="padding-top: 15px; padding-bottom: 45px;">
              <img  ng-if="!profile" src="images/drip-logo-anon.jpg" width="40" height="40" class="img-circle special-img">
              <img  ng-if="profile" ng-src="{{profile.profile_picture}}" width="40" height="40" class="img-circle special-img"></a>
            </a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="modified-container" profile>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4">
          <div class="bucket-bg" style="background-image: url('img/bg.jpg');">
              <span class="centerer"></span>
               <img  ng-src="{{profile.profile_picture}}" width="90" height="90" alt="me.jpeg" class="img-circle centered">
          </div>
          <h4 class="profile-name" ng-bind="profile.name"></h4>
          <p class="profile-skill" ng-bind="titles" id='capitalize'>DESIGNER. ACTRESS</p>
        </div>
        <div class="col-md-8">
          <div class="row buckets-container">
            <div class="col-md-12">
              <!-- <span ng-bind="buckets.name">BUCKETS</span> -->
              
            </div>
            <div class="col-md-12 heading-container">
              <span class="text-center heading" style="margin-top: 22px;" ng-bind="buckets.name" id='capitalize'>ART WORKS</span>
            </div>
            <div class="col-md-12">
              <div class="row buckets">
                <!-- <div class="col-md-3">
                  <a>
                    <div id="over" style="text-align:center; margin-top: 23px; height:157px; background-color: transparent; border: 2px solid #cecece;">
                      <span class="centerer" ></span><i class="fa fa-plus fa-3x centered"></i>
                  </div>
                  </a>
                </div> -->
                 <div class="col-md-3" ng-repeat="drips in buckets.drips">
                  <div class="thumbnail">
                    <div class="cation" ng-if="large">
                      {{drips.title | limitTo : 21}} <div class="btn-group pull-right">
                        <a class="pull-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                      <ul class="dropdown-menu">
                        <li><a ng-click="delete(drips.id)">Delete</a></li>
                      </ul>
                      </div>
                    </div>
                    <div class="cation" ng-if="!large">
                      {{drips.title}} <div class="btn-group pull-right">
                        <a class="pull-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                      <ul class="dropdown-menu">
                        <li><a ng-click="delete(drips.id)">Delete</a></li>
                      </ul>
                      </div>
                    </div>
                    <a  ng-click="openModal(drips)" data-toggle="modal" data-target="#myModal">
                      <img ng-src="{{thumbUrl(drips.link)}}">
                    </a>
                    <div class="">
                      <table class="table table-condensed">
                       <tbody>
                          <tr>
                            <!-- <td align="center"><i class="fa fa-star-o"><span style="padding-left: 4px;">12</span></i></td> -->
                            <!-- <td align="center"><i class="fa fa-comment-o"><span style="padding-left: 4px;" ng-bind="">4</span></i></td>
                            <td align="center"><i class="fa fa-eye"><span style="padding-left: 4px;">23</span></i></td>
                            <td align="center"><i class="fa fa-share-alt"><span style="padding-left: 4px;">9</span></i></td> -->
                          </tr>
                       </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                 
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div ng-include='"modal.html"'></div>
    <div ng-include='"edit-profile.html"'></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
