<div class="row drip-feed col-lg-12" ng-repeat="drips in dripsArray track by $index">
  <div ng-if="$index%2==0">
    <div class="drip-feed-video col-lg-6 col-md-6 col-sm-6">
      <div class="h_iframe" load-image-first>
        <!-- a transparent image is preferable -->
        <a  ng-click="loadFrame($index,drips.link)"><img class="ratio drip-ratio" ng-src="{{thumbUrl(drips.link)}}"/></a>
        <iframe ng-src="{{ videoUrl(drips.link) }}" frameborder="0" allowfullscreen ng-if="IFrame[$index]"></iframe>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="user-info user-drip">        
        <div class="drip-title-container">
          <a> <span class="drip-title" ng-bind="drips.title" data-toggle="modal" data-target="#myModal" ng-click="openModal(drips)"></span> </a>
        </div>
        <div class="">
          <ul class="list-unstyled drip-interactions">
            
            <li align="center">
              <a  data-toggle="modal" data-target="#myModal" ng-click="openModal(drips)"><img src="/images/comments-o.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a>
              <span class="counter" style="padding-left: 4px;" ng-bind="drips.comments.length" ng-if="drips.comments.length>0">4</span>
            </li>

            <li align="center">
              <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/images/chain.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a>
              <span class="counter" style="padding-left: 4px;" ng-bind="drips.shares" ng-if="drips.shares>0">4</span>
              <ul class="dropdown-menu drip-dropdown">
                <li><a  ng-click="fbShare(drips)">Facebook</a></li>
              </ul>
            </li>
          </ul>
        </div>
        
        <div class="follow-me pull-right" ng-if="drips.channel">
          <ul class="follow-me-links list-unstyled">
            <li class="follow-label">Subscribe Channel:</li>
            <li><a target="_blank" href="{{drips.channel}}"><img src="/images/youtube.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a></li>
          </ul>
        </div>
        <div class="follow-me pull-right" social-media dripid="drips.user.id" ng-if="drips.user">
          
        </div>
      </div>
    </div>
    </div> <!--  -->





    <div ng-if="$index%2==1">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="user-info user-drip">
          <div class="drip-title-container">
            <a> <span class="drip-title" ng-bind="drips.title" data-toggle="modal" data-target="#myModal" ng-click="openModal(drips)"></span> </a>
          </div>
          <div class="">
            <ul class="list-unstyled drip-interactions">
              <li align="center">
                <a  data-toggle="modal" data-target="#myModal" ng-click="openModal(drips)"><img src="/images/comments-o.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a>
                <span class="counter" style="padding-left: 4px;" ng-bind="drips.comments.length" ng-if="drips.comments.length>0"></span>
              </li>
              <li align="center">
                <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/images/chain.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a>
                <span class="counter" style="padding-left: 4px;" ng-bind="drips.shares" ng-if="drips.shares>0"></span>
                <ul class="dropdown-menu drip-dropdown">
                  <li><a  ng-click="fbShare(drips)">Facebook</a></li>
                </ul>
              </li>
            </ul>
          </div>
          
          <div class="follow-me pull-right" ng-if="drips.channel">
            <ul class="follow-me-links list-unstyled">
              <li class="follow-label" data-toggle="tooltip" title="Admin Post">Subscribe Channel:</li>
              <li><a data-toggle="tooltip" title="Admin Post" target="_blank"href="{{drips.channel}}"><img src="/images/youtube.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a></li>
            </ul>
          </div>
          <div class="follow-me pull-right" social-media dripid="drips.user.id" ng-if="drips.user">
            
          </div>
        </div>
      </div>
      <div class="drip-feed-video col-lg-6 col-md-6 col-sm-6">
        <div class="h_iframe" load-image-first>
          <!-- a transparent image is preferable -->
          <a  ng-click="loadFrame($index,drips.link)"><img class="ratio drip-ratio" ng-src="{{thumbUrl(drips.link)}}"/></a>
          <iframe ng-src="{{ videoUrl(drips.link) }}" frameborder="0" allowfullscreen ng-if="IFrame[$index]"></iframe>
        </div>
      </div>
      </div> <!--  -->
    </div>