<div id="popup1" class="overlay" profile>
  <div class="popup">
    <h5>Edit your profile</h5>
    <a class="close" ng-click="popup()" style="opacity:1;">&times;</a>
    <div class="content">
      <!-- <div class="edit-upload"><button class="edit-entity edit-upload-btn">Upload Picture</button><small class="edit-upload-status">Uploading..</small></div> -->
      <input type="text" class="popup1-field edit-entity" ng-model="profile.name" placeholder="">
      <ul class="list-unstyled add-skill-ul">
        <li class="skill-li">
          <input type="text" class="popup1-field edit-entity add-skill-field" ng-model="nationality[1]" placeholder="Country" disabled ng-show="show">
          <div country data-input-name='country' ng-show="!show"></div>
        </li>
        <li class="skill-btn">
          
          <button class="edit-add-btn" ng-click="showCountry()">-</button>
        </li>
      </ul>
      <!--                 <a href="#" class="edit-add-dashed"><span>+</span></a><input type="text" class="popup1-field edit-entity"> -->
      <ul class="list-unstyled add-skill-ul">
        <li class="skill-li">
          <input type="text" class="popup1-field edit-entity add-skill-field" ng-model="usertitle" placeholder="Title (ex. Student, Artist, Dancer)"></li>
          <li class="skill-btn"><button class="edit-add-btn" ng-click="addTitle( usertitle )">+</button></li>
          <li><small>Titles:</small>
            <span class="tag label label-default" ng-repeat = "title in titles track by $index">
              <span ng-bind="title"></span>
              <a class="remove remove-tag-btn" ng-click="removeTitle( $index )">&times;</a>
            </span>
            
          </li>
        </ul>
        <input type="text" class="popup1-field edit-entity" ng-model="profile.social[0].link" placeholder="http://www.facebook.com/profile" ng-show="social.fb">
        <input type="text" class="popup1-field edit-entity" ng-model="profile.social[1].link" placeholder="http://www.twitter.com/profile" ng-show="social.twit">
        <input type="text" class="popup1-field edit-entity" ng-model="profile.social[2].link" placeholder="http://www.instagram.com/profile" ng-show="social.insta">
        <input type="text" class="popup1-field edit-entity" ng-model="profile.social[3].link" placeholder="http://www.youtube.com/profile" ng-show="social.youtube">
        <div class="follow-me">
          <ul class="follow-me-links list-unstyled">
            <li class="follow-label">Link your social media:</li><br>
            <li><a ng-click="showSocial('fb')"><img src="/images/facebook-official.png" class="fa media-links" style="max-width:33px;max-height:19px;"></i></a></li>
            <li><a ng-click="showSocial('twit')"><img src="/images/twitter.png" class="fa media-links" style="max-width:33px;max-height:19px;"></i></a></li>
            <li><a ng-click="showSocial('insta')"><img src="/images/instagram.png" class="fa media-links" style="max-width:33px;max-height:19px;"></i></a></li>
            <li><a ng-click="showSocial('youtube')"><img src="/images/youtube.png" class="fa media-links" style="max-width:33px;max-height:19px;"></i></a></li>
          </ul>
        </div>
        <button class="edit-save-btn pull-right" ng-click="ifProfile()">Save</button>
      </div>
    </div>
  </div>

  <div id="popup2" class="popup logout" ><a href="/logout"><h3 style="margin-top: -13px;margin-left: 2px;">Logout</h3></a></div>