<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" modal>
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                    <div class="h_iframe">
                        <!-- a transparent image is preferable -->
                        <img class="modal-ratio" src="images/me2.png"/>
                        <iframe ng-src="{{ videoUrl( dripDetails.link ) }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                 <div class="row">
                   <div class="col-md-12 modal-title" style="padding-top: 20px;">
                     <span class="modal-bucket-lg-title" ng-bind="dripDetails.title">AGSUNTA PERFORMANCE 1st VIDEO</span>
                   </div>
                   <div class="col-md-3"></div>
                   <div class="col-md-6">
                     <table class="table table-condensed">
                       <tbody>
                          <tr>
                            <!-- <td align="center"><a><i class="fa fa-star-o interactions"></i></a><span class="count">12</span></td> -->
                            <td align="center"><a><img src="/images/comments-o.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a><span  class="count" ng-bind="dripDetails.comments.length" ng-if="dripDetails.comments.length>0">4</span></td>
                            <!-- <td align="center"><a><i class="fa fa-eye interactions"></i></a><span class="count">23</span></td> -->
                            <td align="center"><a><img src="/images/chain.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a><span class="count" ng-bind="dripDetails.shares" ng-if="dripDetails.shares>0"></span></td>
                          </tr>
                       </tbody>
                      </table>
                   </div>
                   <div class="col-md-3"></div>
                   <div class="col-md-12">
                     <p class="text-justify" style="color:#9e9e9e;" ng-bind="dripDetails.description"></p>
                   </div>
                   <div class="col-md-12">
                     <div class="media write-comment">
                        <div class="media-body">
                          <textarea class="comment" placeholder="Write a comment.." ng-model="comment"></textarea>
                          <button class="btn btn-default round-btn-5 pull-right btn-comment" ng-click="addComment()">Comment</button>
                        </div>
                      </div>
                       <div class="media user-comments" ng-repeat="comment in dripDetails.comments">
                        <div class="media-left">
                          <a ng-if="!comment.user_id">
                            <img class="media-object img-circle" width="54" src="images/drip-logo-anon.jpg"  alt="...">
                          </a>
                          <a ng-if="comment.user_id">
                            <img class="media-object img-circle" width="54" ng-src="{{comment.user.profile_picture}}"  alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                         <small class="timeago pull-right" ng-bind="spitTime(comment.created_at)"></small>
                          <span class="user-name lead" ng-if="!comment.user_id">Anon-user</span>
                          <span class="user-name lead" ng-if="comment.user_id" ng-bind="spitName(comment.user)">Anon-user</span>
                          <p class="profile-skill"><small>anonymous</small></p>
                          <p ng-bind="comment.content"></p>
                        </div>
                      </div>
                   </div>
                 </div>
              </div>
              <div class="modal-bucket-list" ng-if="dripDetails.bucket" ng-show="false"><!-- col-md-4  -->
                <p ng-bind="dripDetails.bucket.name">ARTWORKS</p>
                <hr style="margin-top: 0px; margin-bottom: 0px;">
                <div class="media" ng-repeat="drips in dripDetails.bucket.drips track by $index">
                  <div class="media-left">
                    <a>
                      <img style="cursor:pointer;"class="media-object modal-bucket-supp-vid" ng-click="changeVideo( drips )" ng-src="{{thumbUrl(drips.link)}}"/>
                    </a>
                  </div>
                  <div class="media-body">
                    <a><span class="media-heading bucket-name" ng-click="changeVideo( drips )">{{drips.title | limitTo: 20}}</span></a>
                    <p class="bucket-modal-desc">{{drips.description | limitTo: 30}}</p>
                    <table class="table table-condensed" style="margin-bottom: 0px;">
                       <tbody>
                          <tr>
                            <td align="center"><i class="fa fa-eye"><span style="font-size: 10px;padding-left: 4px;">23</span></i></td>
                            <td align="center"><i class="fa fa-share-alt"><span style="font-size: 10px;padding-left: 4px;">9</span></i></td>
                          </tr>
                       </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>