<div class="row sml-dev-feed col-lg-12" ng-repeat="drips in dripsArray track by $index">

  <div class="drip-feed-video col-lg-6">
    <div class="h_iframe" load-image-first>
      <!-- a transparent image is preferable -->
      <img class="ratio drip-ratio" ng-src="{{thumbUrl(drips.link)}}" ng-click="loadFrame( $index )"/>
      <iframe ng-src="{{ videoUrl( drips.link ) }}" frameborder="0" allowfullscreen ng-if="IFrame[$index]"></iframe>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="user-info user-drip user-sml-dev">
      
      <div class="drip-title-container">
        <span class="drip-title" ng-bind="drips.title" data-toggle="modal" data-target="#myModal" ng-click="openModal(drips)"></span>
      </div>
      <div class="">
<!-- drip number: comments, views, shares -->
        <ul class="list-unstyled drip-interactions">
          <li align="center">
            <a data-toggle="modal" data-target="#myModal" ng-click="openModal(drips)"><img src="/images/comments-o.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a>
            <span class="counter" style="padding-left: 4px;" ng-bind="drips.comments.length" ng-if="dripDetails.comments.length>0">4</span>
          </li>
          <li align="center">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/images/chain.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a>
            <span class="counter" style="padding-left: 4px;" ng-bind="drips.shares" ng-if="drips.shares>0"></span>
            <ul class="dropdown-menu drip-dropdown">
              <li><a ng-click="fbShare(drips)">Facebook</a></li>
              <!-- <li><a>Twitter</a></li> -->
            </ul>
          </li>
        </ul>
      </div>
      
      <div class="follow-me pull-right" ng-if="drips.channel">
        <ul class="follow-me-links list-unstyled">
          <li class="follow-label" data-toggle="tooltip" title="Admin Post">Subscribe Channel:</li>
          <li><a data-toggle="tooltip" title="Admin Post" target="_blank"href="{{drips.channel}}"><img src="/images/youtube.png" class="fa media-links" style="max-width:33px;max-height:19px;"></a></li>
        </ul>
      </div>
      <div class="follow-me pull-right" social-media dripid="drips.user.id" ng-if="drips.user"><!-- drips.user_id -->
        
      </div>
    </div>
  </div>
  <hr style="border-top: 5px solid #eee;">
</div>