

body {
  padding-top: 70px !important;
  background-color: #F9F9F9;
  line-height: 28px;
}

/*#custom-nav {
    -webkit-box-shadow: 0px 3px 20px #f1f1f1;
    -moz-box-shadow:    0px 3px 20px #f1f1f1;
    box-shadow:         0px 3px 20px #f1f1f1;
    z-index:999;
}*/
.modified-container {
  width: 93%;
  display: block;
  margin: auto;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.special-img 
{
    position: relative;
    top: -6px;
    float: left;
    left: -5px;
    cursor: pointer;
}

.navbar-default {
  -webkit-
}

span {
  font-family: "Open Sans";
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: 3px #a5a5a5 solid;
}

.profile-image  {
  padding-top: 0px;
  padding-bottom: 0px;
}

.round-input-5 {
  border-radius: 25px;
}

.round-btn-5{
   border-radius: 13px;
}

.navbar-nav li a {
 line-height: 30px;
}

.navbar-default .navbar-nav > li > a
{
  padding-left: 25px;
  padding-right: 25px;
}

.profile {
  position: absolute;
  right: 0;
  left: auto;
}

.profile .user-header{
  height: 175px;
  padding: 10px;
  text-align: center;
  background-color: green;
}
.profile .user-header img{
  z-index: 5px;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,0.2);
}

.bucket-bg
{
    position: relative;
    width:100%;
    height:100%;
    text-align: center; /*handles the horizontal centering*/
    background-color: white;
    height: 130px;
}
.black-bg-bucket {
  background-color: rgba(0,0,0,0.5);
  height: 130px;
}
.centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.centered
{
    display: inline-block;
    vertical-align: middle;
}

.profile-name {
  color: #7d7d7d;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

.profile-skill {
  color: #b7b7b7;
  font-size: 12px;
  text-align: center;
  display: block;
}

.media-body .profile-skill {
  color: #b7b7b7;
  font-size: 12px;
  text-align: left;
}

.bucket-bg .img-circle {
  border: 4px solid white;
  cursor: pointer;
}

.thumbnail {
  border: none !important;
}

.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}

a, a:hover {
  color: #585858  ;
}

.search-box{
  background-image:url(../img/search.png);
  background-size: 30px 30px;
  background-repeat: no-repeat; 
  background-position: 3px 7px;
  padding-left: 50px;
/*  font-family: "Montserrat";*/
  font-size: 14px;
  width: 195px !important;
  font-weight: lighter;
}

.timeago {
  color:#9e9e9e;

}
.comment-count {
  font-size: 12px;
  color: #333;
  font-weight: bold;
  width: 100%;
}
.btn-comment {
  margin-top: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}
.divider {
    height: 1px;
    /* border: 1px solid rgb(169,169,169); */
    width: 100%;
    background-color: rgb(169,169,169);
    margin-bottom: 20px;
}
.input-comment {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #9e9e9e;
  width: 100%;
}
.buckets-container {
  padding: 0px 15px 15px 15px;
}
.buckets {
  padding-top: 15px;
}
.heading {
  /*font-size: 16px;
  font-weight: bold;*/
}
.heading-container {
  text-align: center;
}
.bucket-video {
  width: 100%;
}
.modal-content{
  width: 100% !important;
  background: white !important;
}
.modal-video {
    height: 400px;
    width: 100%;
}
.user-name, .bucket-name, .ack-title {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  display: block;
}
.acknowledgements {
  padding-top: 70px;
  padding-bottom: 40px;
}
.user-ack{
  padding-top: 30px;
}
.bucket-modal-desc {
  color: #767676;
}
.modal-bucket-list {
  padding-left: 0px;
}
.modal-bucket-supp-vid {
    width: 100px;
    height: 82px;
}
.user-comments {
  padding-top: 20px;
}
.write-comment {
  padding-top: 20px;
}
.modal-bucket-lg-title {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}
.interactions {
  font-size: 16px;
  color: #b7b7b7;
}
.interactions:visited {
  color: yellow;
}
.count {
  padding-left: 4px;
}
.comment {
  width: 100%;
  height: 78px;
  border: none;
  border-bottom: 1px solid rgb(169,169,169);
}



/* IFRAME */


.wrapper {
  width:80%;
  height:100%;
  margin:0 auto;
}
.h_iframe {
  position:relative;
}
.h_iframe .ratio {
  display:block;
  width:100%;
  height:auto;
}
.h_iframe iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%; 
  height:100%;
}
.h_iframe .modal-ratio {
  display:block;
  width:60%;
  height:auto;  
}
.h_iframe .drip-ratio {
  max-height: auto;
  min-height: auto;
  cursor: pointer;
}
.h_iframe .lp-ratio {
  height: 300px;
}

.user-container {
  border-bottom: 1px solid rgb(169,169,169);
    padding-bottom: 30px;
}
.user-bg {
  background-image: url(../../images/bg.png);
  min-height: 328px;
  width: 100%;
  background-position: center bottom;
  background-size: cover;
  margin-top: -6px;
}
.black-bg {
    background-color: rgba(0,0,0,0.5);
    min-height: 400px;
}
.user-info {
  text-align: center;
  padding-top: 70px;  
}
.user-img-container {
  padding-bottom: 30px;
}
.drip-profile-name, .drip-profile-skill {
  color: white;
}
.drip-profile-skill {
  padding-top: 20px;
}
.post {
    margin: auto;
    display: block;
    width: 660px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.yt-link {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid rgb(169,169,169);
}
input[type=text]:focus, select:focus, 
textarea:focus, button:focus, .write-post:focus {
  outline: none;
}
.post-field {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid rgb(169,169,169);
}
textarea {
  line-height: 28px !important;
}
#capitalize{
  text-transform: uppercase;
}
.drip-feed.col-lg-12 {
  padding: 0px;
}
.drip-feed-video{
  padding: 0px;
}
.drip-interactions > li {
  display: inline;
  padding: 15px 15px 0px 15px;
}
.bucket-int {
  padding-top: 10px;
}
.bucket-int > li {
    display: inline;
    padding: 15px 5px 0px 5px;
    font-size: 12px;
}
.drip-interactions {
  padding-bottom: 40px;
}
.drip-user-skill {
  padding-bottom: 15px;
}
.drip-title {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 10px;
  cursor: pointer;
}
.user-drip {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 70px;
  margin-top: 64px
}
.drip-desc, .intro-desc {
  text-align: justify;
  padding-top: 15px;
  padding-bottom: 25px;
  color: #767676;
}
.intro-desc {
  font-size: 16px;
  line-height: 30px;  
}
.ph413 {
  padding-top: 30px;

}
.landing-page {
  padding-top: 30px;
}

.choose-bucket {
    width: 27%;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid rgb(169,169,169);
}
.post-btn {
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 3px;
    border: 1px solid rgb(169,169,169);
    background-color: white;
    font-weight: bold;
}
.signup-btn {
    border-radius: 3px;
    margin-top: 30px;
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
    border: 1px solid rgb(169,169,169);
    background-color: white;
}
/*.sml-dev-feed {
  display: none;
}*/
.share-btn {
  display: inline;
}
.bucket-dd {
  left: -122px;
}
.drip-dropdown {
  margin-left: 55%;
  top: 255px;
}
.fa, .counter {
  color: #828384;
}
.user-name.lead {
  margin: 0;
}
.btn-default:hover {
 background-color: #f6f6f6;
}
.write-post {
  min-height: 40px;
}
.quote {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 70px;
}
.quote > p {
  font-weight: bold;
  font-size: 22px;
}
.bucket-dd {
  padding-top: 10px;
}
.add-bucket-icon {
  text-align:center; 
  margin-top: 23px; 
  height:157px; 
  background-color: transparent; 
  border: 2px solid #cecece;
  margin-bottom: 50px;
}
.follow-me-links > li {
  display: inline-block;
  padding: 5px;
}
.follow-label {
 color: #828384;
}
.media-links {
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}
.user-sml-dev {
  overflow: hidden;
}
.edit-upload-btn, .edit-add-btn {
  font-size: 12px;
  border: 1px solid rgb(169,169,169);
  border-radius: 3px;

}
.edit-upload-btn {
  background-color: #f6f6f6;
}
.edit-add-btn {
  font-weight: bold;
  background-color: #fff;  
}
.edit-upload-btn {
  margin-right: 10px;
}
.edit-profile-field {
  border: 1px solid rgb(169,169,169);
  border-radius: 3px;
}
.edit-add-dashed {
    border: 2px dashed rgb(169,169,169);
    font-weight: bold;
    padding: 10px 15px 10px 15px;
}
.edit-add-dashed:hover {
    text-decoration: none;
    background-color: #f6f6f6;
}
.edit-upload {
  display: block;
}
.add-skill-ul > li {
  display: inline-block;
}
.skill-btn {
  width: 20%;
}
.skill-btn > button {
  width: 100%;
}
.add-skill-field {
  width: 100%;
}
.skill-li {
  width: 78%;
}


.tag {
  padding: .3em .4em .4em;
  margin: 0 .1em;
  border-radius: 0px;
}
.tag a {
  color: #bbb;
  cursor: pointer;

}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: middle;
  top: 0;
  font-size: 14px;
  color: white;
  padding-right: 6px;
}
.tag a {
  margin: 0 0 0 .3em;
}
.wow-actions > a > li {
  display: inline-block;
  width: 24.5%;
  padding-top: 5px;
  padding-bottom: 5px;  
}
.wow-actions > a > li:hover {
  background-color: #f6f6f6;
}
.wow-actions {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgb(169,169,169);
  border-bottom: 1px solid rgb(169,169,169);
  margin-top: 10px;
}
.modal-title {
  text-align: center;
}
.edit-save-btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 1px solid rgb(169,169,169);
    border-radius: 3px;  
}
.reminder {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 14px;
    top: 64px;
    z-index: 2;
    border-radius: 0px;
}
.reminder a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.reminder p {
  padding-top: 8px;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: absolute;
  right: 20px;
  top: 65px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 23%;
/*  position: relative;*/
  transition: 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
/*  font-family: Tahoma, Arial, sans-serif;*/
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.edit-entity {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 12px;
  padding-left: 10px;
}
.edit-profile-field {
  display: block;
  width: 100%;
}
.wowed {
 color: #ffb300;
 font-weight: bold;
}

.countryDrop {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  text-decoration: none;  
  color: #333;
  background-color: #fff;
  border-color: rgb(169, 169, 169);
}

.countryDrop:hover {
  text-decoration: none;
}




/* BREAKPOINTS */
@media screen and (max-width: 1200px){
.user-drip {
  width: 95%;
}
  .popup {
    width: 50%;
  }
  .logout{
    top: 22px;
    height: 30px;
  }
}
@media screen and (max-width: 1366px){
.logout{
  top: 20px;
  height: 30px;
  }

}
@media screen and (max-width: 1064px){
  /*.drip-feed {
    display: none;
  }*/
  .sml-dev-feed {
    display: block;
    margin: auto;
  }
  .post {
    width: 90%;
  }
.h_iframe .lp-ratio {
  height:auto;
}.logout{
    top: 22px; 
    height: 7%;}
  }

}
@media screen and (max-width: 1024px) {
  .user-bg{
    min-height: 234px;
  }
  .logout{
    top: 22%; 
    height: 7%;}
  }
}
@media screen and (max-width: 991px) {
  .modal-bucket-list {
    padding: 20px;
  }
  .user-bg{
    min-height: 246px;
  }
  .logout{
    top: 22%; 
    height: 7%;}
  }
}

@media screen and (max-width: 768px) {
  .acknowledgements {
    display: none;
  }
  .user-bg{
    min-height: 210px;
  }
.popup {
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.wow-actions > a > li {
  width: 23.5%;
}
.count {
  display: none;
}
.bucket-user {
  padding-bottom: 50px;
}
.buckets-container {
  padding-top: 50px;
}
}
@media screen and (max-width: 640px){
  .yt-link {
    width: 100%;
  }
  .choose-bucket {
    width: 100%;
    margin: 0;
  }
  .user-bg{
    min-height: 196px;
  }

  .logout{
    top: 22px;
    height: 30px;
  }
}
@media screen and (max-width: 550px){
  .yt-link {
    width: 100%;
  }
  .choose-bucket {
    width: 100%;
    margin: 0;
  }
  .user-bg{
    min-height: 196px;
  }
  .user-drip{
    margin-top: -57px;
  }
  .popup {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .bucket-int > li {
    font-size: 14px;
    padding: 10px 10px 0px 10px;
  }.user-bg{
    min-height: 138px;
  }.user-drip{
    margin-top: -57px;
  }
}