body {
    font-family:'helvetica','Open Sans', Arial, sans-serif;
	font-size:15px;
	font-weight:500;
	line-height:1.6em;
    color: #414a53;
    background-size: 100% !important;

}
h2, h3, h5 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
}
a {
    color: #414a53;
}

.navbar .nav a:hover {
	background:none;
	color: #D03838 !important;
}
.navbar .nav > .active > a:active,.navbar .nav > .active > a:focus {
	background:none;
	outline:0;
	font-weight:700;
}
.navbar .nav li .dropdown-menu {
	z-index:2000;
    left:-77px;
}
header .navbar {
    margin-bottom: 0;
    z-index: 9;
    background-color: #882A2A !important;
}
.navbar-default {
    border: none;
    color:#222;
}
header ul.navbar-nav {
    float: right;
    padding-top: 9px;
    margin-right: 0;
    margin-bottom: 0;
    
}
header .navbar {
min-height: 70px;
padding: 9px 0 0;
background: #fcfcfc;
border-bottom: 1px #CACACA solid;
}
header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
a.navbar-brand {
    margin-left: 9px;
    color: white !important;
    font-weight: 700;
    padding-left: 55px;
}
.modal-header {
    padding-top: 11px;
    padding-right: 12px;
    border: 0;
}
.modal-content {
    width: 50%;
    margin: 20px auto;
    border-radius: 4px;
    display: block;
    position: inherit;
    background: image-url("dark_tint.png");
}
.container {
    padding-top: 20px;
    padding-bottom: 21px;
}
.containerprof {
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    color: white;
    background: image-url("dark_tint.png");
}
.containerx {
    float:right;
    margin: 20px 25px 0 0;
}
.xbtn {
    border: none;
}
.profilebasket {
    border-top: 1px #EEF2F3 solid;
    background-color: #FCFCFC;
    margin-bottom: 30px;
}
.basket {
    margin: 0px auto;
    margin-bottom: 20px;
}
.thumbnail {
    border: none;
    border-radius: 1px;
    background-color: #fcfcfc;
}
.thumbnailprof {
    border: 1px #E0E0E0 solid;
    margin: 10px;
    padding: 15px;
    width: 93%;
    min-height: 227px;
    background: white;
}
.thumbnailprof:hover {
    background-color: #EEF2F3;
    text-decoration: none;
}
.thumbnailprofadd {
    border: 1px #323940 dashed;
    margin: 10px;
    padding: 15px;
    width: 93%;
    height: 227px;
    background: white;
}
.thumbnailprofadd:hover {
    background-color: #E0E0E0;
}
a:focus, a:hover {
    color: #323940;
    text-decoration: none;
}
section#join{
    /*background-color: #EEF2F3;*/
}
img {
    text-align: center;
}
.footer {
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
    background: #222833;
    height: 52px;
    bottom: 0px;
    color: white;
}
.footer p {
    margin: 0;
}
.theader {
    max-width: 35px;
    min-width: 30px;
    padding: 0;
    display: k
}
.divide {
    padding: 0;
}
.dividers {
    border-bottom: 1px #DCDFE0 solid;
    margin-bottom: 7px;
}
.lo {
    padding-bottom: 10px;
}
.identity {
    display: block;
    height: 50px;
}
.theader2 {
    min-width: 35px;
    max-width: 36px;
    padding: 0;
}
.ttitle {
    padding-left: 7px;
}
.title2 {
    padding: 0 6px;
}
.user-name {
    font-size: 18px;
    font-weight: 700;
}
.mtitle {
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.mtitle2 {
    margin: 5px 0 0;
    font-weight: bold;
    padding: 0;
}
.intro-callaction {
    margin-top: 10px;
}
.navbar-nav>li>a {
    padding: 3px 3px;
}
.navbar-header {
    padding: 0;
}
.caption p {
    margin: 0;
    margin-top: 7px;
}
.addinput {
    margin: 5px 0;
}
.plus {
    font-size: 40px;
}
.newbucket {
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.caption.col-md-4 {
    padding: 0;
}
.panel-body {
    padding: 10px;
    padding-bottom: 0px;
}
.panel-body.col-md-4 {
    padding: 10px 0 0 0;
}
.col-lg-8.col-md-8.col-sm-12 {
    padding-right: 0;
}
.time {
    font-size: 12px;
    display: block;
    color: #A9A9A9;
    padding: 0px;
    text-align: right;
}
.bucket {
   background-color: #C3173F;
    color:#fff;
    border: 1px #C3173F solid;
}
button.btn.btn-default {
    font-weight: 600;
}
.addbuck {
    float: right;
    background-color: #C3173F;
    color: #fff;
}
.video {
    padding: 0 15px 0 0px;
}
.videolist {
    margin: 4px 0 0;
    padding: 0 12px;
}
.list {
    padding: 0;
}
.publish {
    padding-top: 5px;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 13px;
}
.status {
    font-size: 13px;
    display: inline-block;
    float: left;
    list-style: none;
    padding-left: 0;
    border-bottom: 1px #DCDFE0 solid;
}
.center {
    text-align: center;
    font-weight: 600;
}
.desc {
    padding-bottom: 5px;
}
.status li {
    display: inline;
    margin-right: 7px;
}
.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.float {
    float: left;
}
.brace {
    padding: 0 8px;
}
.social {
    float: right;
}
.right {
    display: block;
    margin: auto;
}
.righty {
    float: right;
}
li.dropdown {
    height: 52px;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}
.form-group {
    padding: 0;
}
.actionBox .form-group * {
    width:100%;
}
.commentList {
    padding:0;
    list-style:none;
    overflow:auto;
    height: 230px;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
    

}

nav.navbar.navbar-default {
    border: none;
    border-radius: 0;
}
.copyright {
    font-weight: 600;
}
img.img-responsive {
    margin-top: 6px;
}
.in {
    padding: 0;
}
.com {
    margin-right: 10px;
}
/*-- Media --*/
@media (max-width: 1311px) {
    .containerx {
        margin: 0px 8px 31px 0;
    }
}
@media (max-width: 991px) {
    .video {
        padding-right: 0px;
    }
    .theader2 {
        width: 5%;
    }
    .mtitle2 {
        margin-top: -5px;
    }
    .publish {
        padding-top: 0px;
    }
    .status {
        border: none;
    }
    .thumbnail {
        margin-bottom: 0;
    }
    .thumbnail .caption {
        padding: 1px;
    }
}
@media (max-width: 767px) {
    header ul.navbar-nav {
    padding-top: 5px;
    margin-bottom: 0;
    }
    a.navbar-brand {
        padding: 0;
        margin-top: 19px;
    }
    .navbar .nav li .dropdown-menu {
        background-color: #F7F7F7;
    }
    .nav-pills {
        margin-left: 17px;
    }
    .containerx {
        display: none;
    }
}
@media (max-width: 516px) {
    .social {
        margin-top: 15px;
    }
}
@media (max-width: 482px) {
    .basket {
        padding: 0px;
    }
    .panel-body {
        padding: 0;
        margin: 0;
    }
    .identity {
        padding-left: 0px;
    }
    .publish {
        width: 100%;
        font-size: 11px;
    }
    .status {
        font-size: 11px;
    }
    .ins {
        padding-left: 0px;
    }
    .nav-pills {
        margin-left: 0;
        font-size: 12px;
    }
}
@media (max-width: 328px) {
    button.btn.btn-default.col-md-2 {
        font-size: 12px;
    }
}
textarea{
    height: 130px !important;
}
.bucketImg{
    width: 25px;
    margin-right: 5px;
}
.dripModal{
    width: 90% !important;
}
.homeVid{
    border-radius: 10px;
}
.htitle{
    text-align: center;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.65);
    font-weight: bold;
    font-size: 50px;
    line-height: 60px; 
    font-style: italic;
}
.logoDiv{
     margin: 0px auto;
     width: 250px;
     margin-top: 50px;
    
}
.logo{
   border-radius: 100%;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0.5em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075);

}
.featureVid{
    border-radius: 20px !important;
}
.author{
    text-align: center;
     margin-bottom: 100px;
}
.loginnav{
    width: 140px;
}
.loginul{
    padding: 10px;
}
.loginul li{
    margin-bottom: 10px;
    font-size: 15px;

}
.loginul input{
    border-radius: 5px;
    border:1px solid gray;
    padding: 5px;

}

.loginButton{
    width: 100%;
}
.homeNav{
    margin-bottom: 0;
    z-index: 9;
    background-color: transparent !important;
}

.homeNav .nav > li > a {
    color: white;
    text-shadow: none;
    font-size: 16px;
    font-weight: bold;
}

.homeNav .nav li .dropdown-menu {
    z-index: 2000;
    left: -77px;
}

#register input{
    width: 97%; 
}
.name{ 
    width: 48% !important;
}
.modal-content h3{
    color: white;
}

.modal-content input, textarea{
     padding: 5px;
    border-radius: 5px; 
    margin: 5px; 
    border:1px solid gray;
}