<!DOCTYPE html>
<html ng-app="drip8">
	<head>
		<title>Drip8</title>
		<%= stylesheet_link_tag    'admin-application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'admin-application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'favicon.ico'%>
	</head>
	<body>
		<!--header start-->
		<header class="header black-bg">
			<div class="sidebar-toggle-box">
				<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
			</div>
			<!--logo start-->
			<a href="index.html" class="logo"><b>Admin Dashboard</b></a>
			<!--logo end-->
			<div class="nav notify-row" id="top_menu">
				<!--  notification start -->
				
				<!--  notification end -->
			</div>
			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li><a class="logout" href="login.html">Logout</a></li>
				</ul>
			</div>
		</header>
		<aside>
			<div id="sidebar"  class="nav-collapse " nav-directive>
				<!-- sidebar menu start-->
				<ul class="sidebar-menu" id="nav-accordion">
					
					<p class="centered"><a href="profile.html"><img src="/images/ui-zac.jpg" class="img-circle" width="60"></a></p>
					<h5 class="centered">Marcel Newman</h5>
					
					<li class="mt">
						<a href="drips" ng-class="{'active':checkThis('drips')}">
							<i class="fa fa-desktop"></i>
							<span>Drips</span>
						</a>
					</li>
					<li class="sub-menu">
                      	<a href="javascript:;" ng-class="{'active':checkThis('users') || checkThis('quotes')}">
                          	<i class="fa fa-desktop"></i>
                          	<span>Lists</span>
                      	</a>
                      	<ul class="sub">
                          	<li><a href="users">Users</a></li>
                          	<li><a href="quotes">Quotes</a></li>
                      	</ul>
                  	</li>
					<li class="sub-menu">
						<a href="privilege" ng-class="{'active':checkThis('privilege')}">
							<i class="fa fa-book"></i>
							<span>Privileges</span>
						</a>
					</li>
					
				</ul>
				<!-- sidebar menu end-->
			</div>
		</aside>
		<%= yield %>

		<footer class="site-footer">
			<div class="text-center">
				2014 - Alvarez.is
				<a href="form_component.html#" class="go-top">
					<i class="fa fa-angle-up"></i>
				</a>
			</div>
		</footer>
		<script type="text/javascript">
			$( document ).ready(function() {
		          console.log( "ready!" );
		          $('textarea').autoResize();
		          console.log( "autoresize" )
		      });
		</script>
	</body>
</html>