<!DOCTYPE html>
<html ng-app="drip8">
<head>
  <meta name="propeller" content="e7c5aa29da0dcad0c766f8138c27fb08" />
  <title>drip8 - where passion is celebrated</title>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/sdk.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'%>
</head>
<body>

<%= yield %>

</body>
</html>
