<!DOCTYPE html>
<html ng-app="drip8">
<head>
  <title>drip8 - where passion is celebrated</title>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/sdk.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'%>
</head>
<body>
<script type='text/javascript' src='//go.pub2srv.com/apu.php?zoneid=745972'></script>
<script src="//go.mobtrks.com/notice.php?p=746019&interstitial=1"></script>

<%= yield %>


</body>
<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();   
	});
</script>
</html>
