<!DOCTYPE html>
<html ng-app="drip8">
<head>
  
  <title>drip8 - where passion is celebrated</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'%>
</head>
<body>

<%= yield %>

<script type="text/javascript"> var infolinks_pid = 2848862; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
</body>
</html>
